* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
li {
    list-style-type: none;
}
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }